body {
    background: rgb(34, 24, 44);
    color: aliceblue;
    margin: 0px;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 35px;
    color: aliceblue;
}

section {
    background: rgb(197, 100, 100);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.texto-do-video {
    margin-right: 5%;
}